<section class="auth">
  <div class="auth-header">
    <h1>Reset password</h1>
  </div>
  <div class="auth-content">
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="ResetPassword(resetPasswordForm)"
    >
      <div class="input-group-parent">
        <label for="floatingInputGroup2" class="form-label"
          >Your email</label
        >
        <div
          class="input-group"
          [ngClass]="{
            'is-invalid-group':
              resetPasswordForm.get('email')?.invalid &&
              (resetPasswordForm.get('email')?.dirty ||
                resetPasswordForm.get('email')?.touched),
            'is-valid-group':
              resetPasswordForm.get('email')?.valid &&
              (resetPasswordForm.get('email')?.dirty ||
                resetPasswordForm.get('email')?.touched)
          }"
        >
          <span class="input-group-text">
            <i class="fa-solid fa-envelope"></i>
        </span>
          <div class="form-floating">
            <input
              formControlName="email"
              type="email"
              [ngClass]="{
                'is-invalid':
                  resetPasswordForm.get('email')?.invalid &&
                  (resetPasswordForm.get('email')?.dirty ||
                    resetPasswordForm.get('email')?.touched),
                'is-valid':
                  resetPasswordForm.get('email')?.valid &&
                  (resetPasswordForm.get('email')?.dirty ||
                    resetPasswordForm.get('email')?.touched)
              }"
              class="form-control"
              id="floatingInputGroup2"
              placeholder="Type your email"
              readonly
            />
          </div>
        </div>
        @if(formReset['email'].errors && (formReset['email'].touched ||
        formReset['email'].dirty)){
        <div>
          @if(formReset['email'].getError( 'required' )){
          <div>
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formReset['email'].getError( 'email' )) {
            <span class="text-danger">Email format not vaild </span>
          }
        </div>
        }
      </div>
      <div class="input-group-parent">
        <label for="floatingInputGroup2" class="form-label"
          >Your code</label
        >
        <div
          class="input-group"
          [ngClass]="{
            'is-invalid-group':
              resetPasswordForm.get('otp')?.invalid &&
              (resetPasswordForm.get('otp')?.dirty ||
                resetPasswordForm.get('otp')?.touched),
            'is-valid-group':
              resetPasswordForm.get('otp')?.valid &&
              (resetPasswordForm.get('otp')?.dirty ||
                resetPasswordForm.get('otp')?.touched)
          }"
        >
          <span class="input-group-text"
            ><i class="fa-solid fa-id-card"></i
          ></span>
          <div class="form-floating">
            <input
              formControlName="otp"
              type="text"
              [ngClass]="{
                'is-invalid':
                  resetPasswordForm.get('otp')?.invalid &&
                  (resetPasswordForm.get('otp')?.dirty ||
                    resetPasswordForm.get('otp')?.touched),
                'is-valid':
                  resetPasswordForm.get('otp')?.valid &&
                  (resetPasswordForm.get('otp')?.dirty ||
                    resetPasswordForm.get('otp')?.touched)
              }"
              class="form-control"
              id="floatingInputGroup2"
              placeholder="Type your code"
              required
            />
          </div>
        </div>
        @if(formReset['otp'].errors && (formReset['otp'].touched ||
        formReset['otp'].dirty)){
        <div>
          @if(formReset['otp'].getError( 'required' )){
          <div>
            <p class="text-danger">Field is required</p>
          </div>
          }
        </div>
        }
      </div>
      <div class="input-group-parent">
        <label>Your password</label>
        <div
          class="input-group"
          [ngClass]="{
            'is-invalid-group':
              resetPasswordForm.get('password')?.invalid &&
              (resetPasswordForm.get('password')?.dirty ||
                resetPasswordForm.get('password')?.touched),
            'is-valid-group':
              resetPasswordForm.get('password')?.valid &&
              (resetPasswordForm.get('password')?.dirty ||
                resetPasswordForm.get('password')?.touched)
          }"
        >
          <span class="input-group-text"
            ><i class="fa-solid fa-key"></i
          ></span>
          <div class="form-floating is-invalid">
            <input
              [ngClass]="{
                'is-invalid':
                  resetPasswordForm.get('password')?.invalid &&
                  (resetPasswordForm.get('password')?.dirty ||
                    resetPasswordForm.get('password')?.touched),
                'is-valid':
                  resetPasswordForm.get('password')?.valid &&
                  (resetPasswordForm.get('password')?.dirty ||
                    resetPasswordForm.get('password')?.touched)
              }"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="floatingInputGroup2"
              placeholder="Type your password"
              required
            />
          </div>
          <span (click)="togglePasswordVisibility()" class="input-group-text"
            ><i
              [ngClass]="
                showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'
              "
            ></i
          ></span>
        </div>
        @if(formReset['password'].errors && (formReset['password'].touched ||
        formReset['password'].dirty)){
        <div>
          @if(formReset['password'].getError( 'required' )){
          <div>
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formReset['password'].getError( 'pattern' )) {
            <p class="text-danger">Minimum one capital letter, one special character and one number</p>

          }
        </div>
        }
      </div>
      <button  type="submit"
      class="auth-button"
      [disabled]="!resetPasswordForm.valid">
        Reset
        <div class="hovered-div">
          <i class="fa-solid fa-check-circle"></i>
        </div>
      </button>
    </form>
  </div>
</section>
