<section class="auth">
  <div class="auth-header">
    <h1>Reset password</h1>
  </div>
  <div class="auth-content">
    <form>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default" class="form-label">Your email address</label>
        <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"
          ><i class="fa-solid fa-envelope"></i></span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Type your email"
        />
      </div>
      </div>

    </form>
  </div>
</section>
