<section class="auth">
  <div class="auth-header">
    <h1>Reset password</h1>
  </div>
  <div class="auth-content">
    <form>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default" class="form-label">Your email address</label>
        <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"
          ><i class="fa-solid fa-envelope"></i></span
        >
        <input
          type="email"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Type your email"
        />
      </div>
      </div>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default1" class="form-label">OTP</label>
        <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroup-sizing-default1"
          ><i class="fa-solid fa-lock-open"></i></span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default1"
          placeholder="Choose your otp"
        />
      </div>
      </div>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default2" class="form-label">Password</label>
        <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroup-sizing-default2"
          ><i class="fa-solid fa-key"></i></span
        >
        <input
          type="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default2"
          placeholder="Type your password"
        />
      </div>
      </div>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default3" class="form-label">Confirm password</label>
        <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroup-sizing-default3"
          ><i class="fa-solid fa-key"></i></span
        >
        <input
          type="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default3"
          placeholder="Type your confirm password"
          disabled
        />
      </div>
      </div>
<button class="btn main-button">Reset <i class="fa-solid fa-circle-check ms-1"></i></button>
    </form>
  </div>
</section>
