@import "../../../../../../../../../assets/styles/abstracts/variables";

table {
  border-collapse: separate;
}
td,
th {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
}

th {
  background-color: black;
  color: white;
}
td.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Inherit full height from the row */
  color: #fb7c19;
  font-size: 20px;
  span {
    cursor: pointer;
  }
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: $color-green;
}

.questions-container {
  margin-top: 1rem;
  padding: 1.3rem;
  border-radius: 10px;
  border: 1px solid rgba(#000000, .2);
  .questions-header {
    display: flex;
    justify-content: space-between;
    button i {
      font-size: 1.3rem;
    }
  }
}
.input-group-text {
  background-color: #ffeddf;
}
input.form-control {
  border: 1px solid #c7c7c7;
}
input.form-control:focus {
  outline: 0px none #fff;
  box-shadow: 1px 0 0 1px #ffeddf;
}
mat-select {
  &:focus {
    box-shadow: none;
    border: 1px solid #ffeddf
  }
}
button {
  border-radius: 10px;
&.btn.search, &.btn.reset{
  &:hover {
    background-color: #ffeddf;
    color: $color-background-section;
  }
}
}
