@import "../../../../../../../assets/styles/abstracts/variables";
section {
  height: 65vh;
  width: 30vw;
  .card-confirmation {
    .card-confirmation-header {
      .icon-success {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: #70c643;
        i {
          font-size: 3rem;
          font-weight: 600;
          color:$color-white
        }
      }
    }
    .card-confirmation-footer {
      button.btn-success {
        background-color: #70c643;
        border-radius: 10px 10px 0 0 ;
        transition: $main-transition;
        &:hover {
        background-color: #63e41d;
        }
      }
    }
  }
}
