<section class="overflow-visible">
    <div class="card-confirmation h-100 position-relative">
<div class="card-confirmation-header">
 <span class="icon-success mx-auto">
  <i class="fa-solid fa-check"></i>
 </span>
</div>
<div class="card-confirmation-body pt-5 text-center">
<h1 class="display-4 mb-4 ">Success</h1>
<p class="mb-5">
  You have been successfully joined to this quiz
</p>
<h4>Good luck</h4>
</div>
<div class="card-confirmation-footer position-absolute bottom-0 start-0 end-0">
  <button class="border-0 btn-success text-white w-100 py-2 btn-success" mat-dialog-close=""> ok</button>
</div>
  </div>
</section>
