<section class="auth">
  <div class="auth-header">
    <h1>Change password</h1>
  </div>
  <div class="auth-content">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword(changePasswordForm)"
    >
       <div class="input-group-parent">
        <label>Your password</label>
        <div
          class="input-group"
          [ngClass]="{
            'is-invalid-group':
              changePasswordForm.get('password')?.invalid &&
              (changePasswordForm.get('password')?.dirty ||
                changePasswordForm.get('password')?.touched),
            'is-valid-group':
              changePasswordForm.get('password')?.valid &&
              (changePasswordForm.get('password')?.dirty ||
                changePasswordForm.get('password')?.touched)
          }"
        >
          <span class="input-group-text"
            ><i class="fa-solid fa-key"></i
          ></span>
          <div class="form-floating is-invalid">
            <input
              [ngClass]="{
                'is-invalid':
                  changePasswordForm.get('password')?.invalid &&
                  (changePasswordForm.get('password')?.dirty ||
                    changePasswordForm.get('password')?.touched),
                'is-valid':
                  changePasswordForm.get('password')?.valid &&
                  (changePasswordForm.get('password')?.dirty ||
                    changePasswordForm.get('password')?.touched)
              }"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="floatingInputGroup2"
              placeholder="Type your password"
              required
            />
          </div>
          <span (click)="togglePasswordVisibility()" class="input-group-text"
            ><i
              [ngClass]="
                showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'
              "
            ></i
          ></span>
        </div>
        @if(formChange['password'].errors && (formChange['password'].touched ||
        formChange['password'].dirty)){
        <div>
          @if(formChange['password'].getError( 'required' )){
          <div>
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formChange['password'].getError( 'pattern' )) {
            <p class="text-danger">Minimum one capital letter, one special character and one number</p>

          }
        </div>
        }
      </div>
      <div class="input-group-parent">
        <label>Your confirm password</label>
        <div
          class="input-group"
          [ngClass]="{
            'is-invalid-group':
              changePasswordForm.get('password_new')?.invalid &&
              (changePasswordForm.get('password_new')?.dirty ||
                changePasswordForm.get('password_new')?.touched),
            'is-valid-group':
              changePasswordForm.get('password_new')?.valid &&
              (changePasswordForm.get('password_new')?.dirty ||
                changePasswordForm.get('password_new')?.touched)
          }"
        >
          <span class="input-group-text"
            ><i class="fa-solid fa-key"></i
          ></span>
          <div class="form-floating is-invalid">
            <input
              [ngClass]="{
                'is-invalid':
                  changePasswordForm.get('password_new')?.invalid &&
                  (changePasswordForm.get('password_new')?.dirty ||
                    changePasswordForm.get('password_new')?.touched),
                'is-valid':
                  changePasswordForm.get('password_new')?.valid &&
                  (changePasswordForm.get('password_new')?.dirty ||
                    changePasswordForm.get('password_new')?.touched)
              }"
              formControlName="password_new"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="floatingInputGroup2"
              placeholder="Type your confirm password"
              required
            />
          </div>
          <span (click)="togglePasswordVisibility()" class="input-group-text"
            ><i
              [ngClass]="
                showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'
              "
            ></i
          ></span>
        </div>
        @if(formChange['password_new'].errors && (formChange['password_new'].touched ||
        formChange['password_new'].dirty)){
        <div>
          @if(formChange['password_new'].getError( 'required' )){
          <div>
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formChange['password_new'].getError( 'mismatch' )) {
            <p class="text-danger">
              Enter semilar password please
            </p>

          }
        </div>
        }
      </div>
      <button type="submit"
      class="auth-button"
      [disabled]="!changePasswordForm.valid">
        Reset
        <div class="hovered-div">
          <i class="fa-solid fa-check-circle"></i>
        </div>
      </button>
    </form>
  </div>
</section>
