<section class="auth">
  <div class="auth-header">
    <h1>Change password</h1>
  </div>
  <div class="auth-content">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword(changePasswordForm)"
    >
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default2" class="form-label"
          >Password</label
        >
        <div class="mb-3 input-group">
          <span class="input-group-text" id="inputGroup-sizing-default2"
            ><i class="fa-solid fa-key"></i
          ></span>
          <input
            type="password"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default2"
            placeholder="Type your password"
            formControlName="password"
          />
        </div>
        @if(formChange['password'].errors && (formChange['password'].touched ||
        formChange['password'].dirty)){
        <div class="row flex-nowrap">

          <div class="col-1">
            <i class="fa-solid fa-circle-info text-danger"></i>
          </div>
          @if(formChange['password'].getError( 'required' )){
          <div class="col-10">
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formChange['password'].getError( 'pattern' )) {
            <p class="text-danger">Minimum one capital letter, one special character and one number</p>

          }
        </div>
        }
      </div>
      <div class="input-group-parent">
        <label for="inputGroup-sizing-default3" class="form-label"
          >Confirm password</label
        >
        <div class="mb-3 input-group">
          <span class="input-group-text" id="inputGroup-sizing-default3"
            ><i class="fa-solid fa-key"></i
          ></span>
          <input
            type="password"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default3"
            placeholder="Type your confirm password"
            formControlName="password_new"
          />
        </div>
        @if(formChange['password_new'].errors && (formChange['password_new'].touched ||
        formChange['password_new'].dirty)){
        <div class="row flex-nowrap">

          <div class="col-1">
            <i class="fa-solid fa-circle-info text-danger"></i>
          </div>
          @if(formChange['password_new'].getError( 'required' )){
          <div class="col-10">
            <p class="text-danger">Field is required</p>
          </div>
          } @else if (formChange['password_new'].getError( 'mismatch' )) {
            <p class="text-danger">
              Enter semilar password please
            </p>
          }
        </div>
        }
      </div>
      <button class="btn main-button">
        Reset <i class="fa-solid fa-circle-check ms-1"></i>
      </button>
    </form>
  </div>
</section>
