section {
  min-width: 40vw;
  button {
    border-left: 1px solid rgba(#000000, 0.3);
    border-block: none;
    border-right: none;
    background-color: transparent;
    padding: 1rem;
    height: 100%;
    transition: all 0.3s ease;
    &.submit-btn:hover {
      background-color: rgb(26, 128, 0);
      color: white;
    }
    &.close-btn:hover {
      background-color: red;
      color: white;
    }
    span i {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  .dialog-form {
    form {
      .input-group-text {
        background-color: #ffeddf;
      }
      .form-control:focus {
        outline: 0px none #fff !important;
        box-shadow: 1px 0 0 1px #ffeddf;
        border: 1px solid #ffeddf;
      }
    }
  }
}





