<section>
  <div class="container-fluid py-5">
    <div class="row gap-1 flex-nowrap">
      <div class="col-md-6">
        <div
          class="quiz-card p-3 rounded-3 border border-1 border-black border-opacity-50"
        >
          <div
            class="quiz-card-header d-flex justify-content-between align-items-center"
          >
            <h5>Upcoming 5 quizzes</h5>
            <p class="cursor-pointer">
              All quizzes <i class="fa-solid fa-arrow-right ms-1"></i>
            </p>
          </div>
          <div class="quiz-card-body">
            @for (quiz of quizList; track $index)

            { @if($index %2 === 0){

              @if
            ($index == quizList.length-1 ){
              <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 mb-3 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../../assets/images/dashboard images/quiz-computer-science.svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-6 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        {{ quiz.title }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Start date: {{ quiz.schadule | date : "short" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <a class="qwiz-links cursor-pointer text-body">
                      <span>Open</span>
                      <span>
                        <i class="fa-solid fa-arrow-alt-circle-right icon-quiz"></i>
                      </span>
                    </a>
                  </a>
                </div>
              </div>
            </div>

            } @else {

            <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 mb-3 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../../assets/images/dashboard images/quiz-computer-science.svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-6 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        {{ quiz.title }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Start date: {{ quiz.schadule | date : "short" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <a class="qwiz-links cursor-pointer text-body">
                      <span>Open</span>
                      <span>
                        <i class="fa-solid fa-arrow-alt-circle-right icon-quiz"></i>
                      </span>
                    </a>
                  </a>
                </div>
              </div>
            </div>
            } } @else if ($index %2 !==0) {
              <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 mb-3 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../../assets/images/dashboard images/quiz-computer-science.svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-6 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        {{ quiz.title }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Start date: {{ quiz.schadule | date : "short" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <a class="qwiz-links cursor-pointer text-body">
                      <span>Open</span>
                      <span>
                        <i class="fa-solid fa-arrow-alt-circle-right icon-quiz"></i>
                      </span>
                    </a>
                  </a>
                </div>
              </div>
            </div>

            } }
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="quiz-card p-3 rounded-3 border border-1 border-black border-opacity-50"
        >
          <div
            class="quiz-card-header d-flex justify-content-between align-items-center"
          >
            <h5>Top 5 students</h5>
            <p
              class="cursor-pointer"
              routerLink="/dashboard/instructor/students/students-in-group"
            >
              All students <i class="fa-solid fa-arrow-right ms-1"></i>
            </p>
          </div>
          <div class="quiz-card-body">
            @for (student of studentList; track $index) { @if($index %2 === 0){
            @if ($index == studentList.length-1 ){
            <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../assets/images/dashboard images/user img (1).svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-7 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        hello {{ student.first_name + " " + student.last_name }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Average score: {{ student.avg_score + "%" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <i class="fa-solid fa-arrow-alt-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>

            } @else {
            <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 mb-3 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../../assets/images/dashboard images/user img (1).svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-7 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        {{ student.first_name + " " + student.last_name }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Average score: {{ student.avg_score + "%" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <i class="fa-solid fa-arrow-alt-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            } } @else if ($index %2 !==0) {
            <div
              class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50 mb-3 overflow-hidden"
            >
              <div class="row">
                <div class="col-md-3 px-0">
                  <div class="quiz-image h-100">
                    <img
                      src="../../../../assets/images/dashboard images/user img (2).svg"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-7 align-content-center">
                  <div class="quiz-info flex-grow-1">
                    <div class="quiz-info-title mb-2">
                      <h5>
                        {{ student.first_name + " " + student.last_name }}
                      </h5>
                    </div>
                    <div class="quiz-info-score">
                      Average score: {{ student.avg_score + "%" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <a class="qwiz-links cursor-pointer text-body">
                    <i class="fa-solid fa-arrow-alt-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>

            } }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
