@import "../../../../../../../assets/styles/abstracts/_variables";
.title-input {
  background-color: $color-input-title;
  color: black;
}

.Schedule {
  border-color: rgb(222, 226, 230);
  background-color: #ffeddf;

  & > div {
    border-color: rgb(222, 226, 230);
  }
  & > span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(222, 226, 230);
  }
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}

section {
  margin-top: 1.3rem;
}
.quiz-actions {
  display: flex;
  gap: 1.5rem;
  button {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#000000, .3);
    border-radius: 10px;
    padding: 1.4rem 1.7rem;
    img {
      width: 60px;
      height: 60px;
    }
    span {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
