.register-form-wrapper {
  padding: 1rem;
  h5 {
    color: #c5d86d;
    margin: .7rem 0;
  }
  .auth-links-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    button {
      background-color: #333333;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 1rem 2.3rem;
      &.active {
        border: 4px solid #c5d86d;
        img {
          color: #c5d86d;
          fill: #c5d86d;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
      p {
        margin: 0;
      }
    }
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  label {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.4rem;
  }
  .input-group {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 1rem;
    input {
      background-color: transparent;
      border: none;
      color: white;
      padding: 12px;
      &::placeholder {
        color: white;
        font-weight: lighter;
      }
      &:focus {
        padding: 0 0 0 1rem;
        border: none;
        box-shadow: 0 0 5px white;
      }
    }
    .input-group-text {
      background-color: transparent;
      border: none;
      color: white;
    }
  }
  .form-select {
    background-color: transparent;
    border-left: none;
    color: white;
    appearance: none;
    padding:  1rem 1rem;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      padding: 1rem 1rem;
      box-shadow: 0 0 5px white;
    }
    option {
      background-color: #333333;
      color: white;
    }
  }
  button {
    background-color: #f5f5f5;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 1rem;
    padding: 0.8rem 1.3rem;
    width: fit-content;
    border-radius: 10px;
    i {
      font-size: larger;
    }
  }
}
.is-invalid-group {
  border-color: #dc3545 !important; /* Red border for invalid */
  box-shadow: 0 0 3px rgba(220, 53, 69, 0.5); /* Optional: red glow */
}

.is-valid-group {
  border-color: #28a745 !important; /* Green border for valid */
  box-shadow: 0 0 3px rgba(40, 167, 69, 0.5); /* Optional: green glow */
}
.invalid-message {
  color: red;
  // margin: .1rem 0;
}
.valid-message {
  color: green;
  margin: .1rem 0;
}

