<section class="auth">
  <div class="auth-header">
    <h1>Forgot password</h1>
  </div>
  <div class="auth-content">
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onForgetPassword()"
      class="forgot-password-form"
    >
      <div class="row">
        <div class="col-md-8">
          <label>Your email address</label>
          <div
            class="input-group"
            [ngClass]="{
              'is-invalid-group':
                forgotPasswordForm.get('email')?.invalid &&
                (forgotPasswordForm.get('email')?.dirty ||
                  forgotPasswordForm.get('email')?.touched),
              'is-valid-group':
                forgotPasswordForm.get('email')?.valid &&
                (forgotPasswordForm.get('email')?.dirty ||
                  forgotPasswordForm.get('email')?.touched)
            }"
          >
            <span class="input-group-text"
              ><i class="fa-solid fa-envelope"></i
            ></span>
            <div class="form-floating">
              <input
                [ngClass]="{
                  'is-invalid':
                    forgotPasswordForm.get('email')?.invalid &&
                    (forgotPasswordForm.get('email')?.dirty ||
                      forgotPasswordForm.get('email')?.touched),
                  'is-valid':
                    forgotPasswordForm.get('email')?.valid &&
                    (forgotPasswordForm.get('email')?.dirty ||
                      forgotPasswordForm.get('email')?.touched)
                }"
                formControlName="email"
                class="form-control"
                id="floatingInputGroup2"
                placeholder="Type your email"
                type="email"
                required
              />
            </div>
          </div>
          <ng-container
            *ngIf="
              forgotPasswordForm.get('email')?.dirty ||
              forgotPasswordForm.get('email')?.touched
            "
          >
            <div
              *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              class="invalid-message"
            >
              <span>Email is required</span>
            </div>
            <div
              *ngIf="forgotPasswordForm.get('email')?.getError('email')"
              class="invalid-message"
            >
              <span>Email is not valid</span>
            </div>
            <div
              *ngIf="forgotPasswordForm.get('email')?.valid"
              class="valid-message"
            >
              Looks good!
            </div>
          </ng-container>
        </div>
      </div>
      <button
        class="auth-button"
        [disabled]="forgotPasswordForm.invalid"
        type="submit"
      >
        <span>Send email</span>
        <div class="hovered-div">
          <i class="fa-solid fa-check-circle"></i>
        </div>
      </button>
    </form>
  </div>
</section>
