<section>
  <div class="container-fluid h-100 position-relative">
    <div class="dashboard-row h-100">
      <div class="container-side-bar"
           [ngClass]="valueSideBarChanged() ? 'sidebar-container-large' : 'sidebar-container-small'">
        <app-sidebar></app-sidebar>
      </div>
      <div class="dashboard-main-content"
           [ngClass]="valueSideBarChanged() ? 'main-content-large' : 'main-content-small'">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
