<section>
  <div class="container-fluid min-vh-100">
    <div class="title text-white pt-4">
       <h1>
          <span><i class="fa-regular fa-circle-xmark"></i></span>
          <span
            class="border border-2 border-top-0 border-bottom-0 border-start-0 border-end px-1"
            ><i class="fa-regular fa-circle-check"></i
          ></span>
          Quizwiz
        </h1>
    </div>
    <div class="content">
      <div class="row  text-white">
        <div class="col-md-6">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-6">
          <div  class="img-container mt-lg-0 d-none d-md-flex">
            <img
              src="../../../assets/auth-images/auth-image.svg"
              class=""
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
