<section>

  <div class="container-fluid min-vh-100">
    <div class="row h-100 text-white py-3">
      <div class="col-md-6 p-3 pe-0">

        <h1>
          <span><i class="fa-regular fa-circle-xmark"></i></span>
          <span
            class="border border-2 border-top-0 border-bottom-0 border-start-0 border-end px-1"
            ><i class="fa-regular fa-circle-check"></i
          ></span>
          Quizwiz
        </h1>
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-6 bg-danger">
        <div
          class="d-flex justify-content-end my-auto align-items-center my-auto mt-5 mt-lg-0 pe-3 d-none d-md-flex h-100 bg-secondary"
        >
          <img
            src="../../../assets/auth-images/auth-image.svg"
            class=""
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
