<section>
  <div class="container-fluid py-5">
    <div class="row gap-3 flex-nowrap">
      <div class="col-md-6">
        <div
          class="quiz-card px-2 py-3 rounded-3 border border-1 border-black border-opacity-50"
        >
          <div
            class="quiz-card-header d-flex justify-content-between align-items-center"
          >
            <h5>Upcoming quizzes</h5>
            <p>Quiz direction <i class="fa-solid fa-arrow-right ms-1"></i></p>
          </div>
          <div class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50">
            <div
              class="quiz-view d-flex align-items-center justify-content-between gap-3"
            >
              <div class="quiz-image">
                <img src="../../../../assets/images/Logo icon.svg" alt="" />
              </div>
              <div class="quiz-info flex-grow-1">
                <div class="quiz-info-title mb-2">
                  <h5>hello from the hell</h5>
                </div>
                <div class="quiz-info-date">
                  12/03/2024 | 06
                </div>
                <div class="quiz-info-footer d-flex justify-content-between align-items-center">
                 <p>heelo</p>
                 <p>open</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
         <div
        class="quiz-card px-2 py-3 rounded-3 border border-1 border-black border-opacity-50"
      >
        <div
          class="quiz-card-header d-flex justify-content-between align-items-center"
        >
          <h5>Top students</h5>
          <p>Quiz direction <i class="fa-solid fa-arrow-right ms-1"></i></p>
        </div>
        <div class="quiz-card-content rounded-3 border border-1 border-black border-opacity-50">
          <div
            class="quiz-view d-flex align-items-center justify-content-between gap-3"
          >
            <div class="quiz-image">
              <img src="../../../../assets/images/Logo icon.svg" alt="" />
            </div>
            <div class="quiz-info flex-grow-1">
              <div class="quiz-info-title mb-2">
                <h5>hello from the hell</h5>
              </div>
              <div class="quiz-info-date">
                12/03/2024 | 06
              </div>
              <div class="quiz-info-footer d-flex justify-content-between align-items-center">
               <p>heelo</p>
               <p>open</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
