<div
  class="p-4 my-4 pb-0 rounded-4 border border-1 border-secondary-subtle shadow-sm"
>
  <h1 class="h3 mb-0">Student's Group list : {{ groupName }}</h1>

  <div class="row mt-2 g-3">
    @for (student of collection | paginate : { itemsPerPage: 9, currentPage:
    page }; track student._id) {

    <div class="col-md-6">
      <div
        class="py-3 px-4 border border-1 border-secondary-subtle rounded-2 d-flex justify-content-between align-items-center h-100"
      >
        <div>
          <h2 class="h4">
            <span class="title"></span>{{ student.first_name }}
            {{ student ? student.last_name : "" }}
          </h2>
          <h3 class="h6">
            <span class="title"></span>
            {{ student.email }}
            <!-- <span class="ps-1">| {{ student.role }} |</span> -->
          </h3>
        </div>

        <div>
          <div class="dropdown-center">
            <button
              class="d-inline-block rounded-circle border-0 bg-transparent fs-4"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="getGroupId(id)"
            >
              <span>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </span>
            </button>

            <ul class="dropdown-menu">
              <li class="fs-5" (click)="viewStudent(student._id)">
                <a class="dropdown-item view">
                  <span class=""><i class="fa-solid fa-eye"></i></span>View
                </a>
              </li>
              <li
                class="fs-5"
                (click)="openGroupsToUpdateStudentGroup(student._id)"
              >
                <a class="dropdown-item update"
                  ><span class=""
                    ><i class="fa-regular fa-pen-to-square"></i></span
                  >Update student group</a
                >
              </li>
              <li
                class="fs-5"
                (click)="
                  deleteStudentFromGroup(
                    student._id,
                    id,
                    student.first_name + ' ' + student.last_name
                  )
                "
              >
                <a class="dropdown-item delete"
                  ><span class=""
                    ><i class="fa-solid fa-person-circle-minus"></i></span
                  >Delete from group</a
                >
              </li>
              <li
                class="fs-5"
                (click)="
                  deleteStudent(
                    student._id,
                    student.first_name + ' ' + student.last_name
                  )
                "
              >
                <a class="dropdown-item delete"
                  ><span class=""><i class="fa-solid fa-trash"></i></span
                  >Delete</a
                >
              </li>
            </ul>
          </div>

          <!-- popup view -->
          <div
            class="modal fade"
            id="viewStudentModal"
            tabindex="-1"
            aria-labelledby="exampleModalToggleLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div
                  class="border border-2 border-black border-top-0 border-start-0 border-end-0"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100 h-100 px-2"
                  >
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Student Details
                    </h1>
                    <div
                      class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3"
                    >
                      <button
                        type="button"
                        class="fs-2 fa-bold border border-0 bg-transparent"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <i class="fa-solid fa-xmark text-danger"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="input-group my-4">
                    <span class="input-group-text title-input">Name</span>
                    <input
                      disabled
                      type="text"
                      [value]="
                        studentview?.first_name + ' ' + studentview?.last_name
                      "
                      class="form-control"
                    />
                  </div>
                  <div class="input-group my-4">
                    <span class="input-group-text title-input">Email</span>
                    <input
                      disabled
                      type="text"
                      [value]="studentview?.email"
                      class="form-control"
                    />
                  </div>
                  <div class="input-group my-4">
                    <span class="input-group-text title-input">Role</span>
                    <input
                      disabled
                      type="text"
                      [value]="studentview?.role"
                      class="form-control"
                    />
                  </div>
                  <div class="input-group my-4">
                    <span class="input-group-text title-input">Status</span>
                    <input
                      disabled
                      type="text"
                      [value]="studentview?.status"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- popup update student in other group -->
          <div
            class="modal fade"
            id="updateStudentModal"
            tabindex="-1"
            aria-labelledby="exampleModalToggleLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-md">
              <div class="modal-content">
                <div
                  class="border border-2 border-black border-top-0 border-start-0 border-end-0"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100 h-100 px-2"
                  >
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Update student's Group
                    </h1>
                    <div class="d-flex">
                      <div
                        class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3"
                      >
                        <button
                          type="button"
                          class="fs-2 fa-bold border border-0 bg-transparent"
                          [attr.data-bs-dismiss]="
                            choosenGroup != 'none' ? 'modal' : ''
                          "
                          aria-label="Close"
                          (click)="updateStudentGroup()"
                        >
                          <i class="fa-solid fa-check color-global"></i>
                        </button>
                      </div>
                      <div
                        class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3"
                      >
                        <button
                          type="button"
                          class="fs-2 fa-bold border border-0 bg-transparent"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          <i class="fa-solid fa-xmark text-danger"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <h3 class="h5">Groups</h3>
                  <select
                    class="form-select"
                    (change)="getIdGroupValue($event)"
                    aria-label="Default select example"
                  >
                    <option aria-readonly="true" selected hidden>
                      Open this select menu
                    </option>
                    @for (group of groups; track group._id) {
                    <option
                      [disabled]="IdGroup === group._id"
                      [value]="group._id"
                      class="link-option"
                    >
                      {{ group.name }}
                    </option>

                    }
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- popup update student in other group
        <div
          class="modal fade"
          id="updateStudentModal"
          tabindex="-1"
          aria-labelledby="exampleModalToggleLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div
                class="border border-2 border-black border-top-0 border-start-0 border-end-0"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100 h-100 px-2"
                >
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                    Update student's Group
                  </h1>
                  <div class="d-flex">
                    <div
                      class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3"
                    >
                      <button
                        type="button"
                        class="fs-2 fa-bold border border-0 bg-transparent"
                        [attr.data-bs-dismiss]="choosenGroup ? 'modal' : ''"
                        aria-label="Close"
                        (click)="updateStudentGroup()"
                      >
                        <i class="fa-solid fa-check color-global"></i>
                      </button>
                    </div>
                    <div
                      class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3"
                    >
                      <button
                        type="button"
                        class="fs-2 fa-bold border border-0 bg-transparent"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <i class="fa-solid fa-xmark text-danger"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <h3 class="h5">Groups</h3>
                @for (group of groups; track group._id) {

                <div class="form-check">
                  <input
                    [checked]="false"
                    (click)="choosenGroup = group._id"
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault-{{ student._id }}"
                    id="radio-{{ student._id }}-{{ group._id }}"
                  />
                  <label
                    class="form-check-label"
                    for="radio-{{ student._id }}-{{ group._id }}"
                  >
                    {{ group.name }}
                  </label>
                </div>
                }
              </div>
            </div>
          </div>
        </div> -->
        </div>
      </div>
    </div>
    }@empty {
    <h3 class="text-center text-black-50">There Is No Data</h3>
    }

    <pagination-controls
      class="text-center my-pagination"
      [directionLinks]="true"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
