<section class="auth">
  <div class="container-fluid">
    <div class="auth-header">
      <h1>Continue your learning journey with QuizWiz!</h1>
    </div>
    <div class="auth-content">
      <div class="auth-links-container">
        <button  [routerLink]="authRoutes.LOGIN" routerLinkActive="active">
          <span><i class="fa-solid fa-user-tie"></i></span>
          <p>Sign in</p>
        </button>
        <button  [routerLink]="authRoutes.REGISTER" routerLinkActive="active">
          <span><i class="fa-solid fa-user-plus"></i></span>
          <p>Sign up</p>
        </button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="sendLoginData()">
        <div class="input-group-parent">
          <label for="floatingInputGroup2" class="form-label"
            >Your email</label
          >
          <div
            class="input-group"
            [ngClass]="{
              'is-invalid-group':
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched),
              'is-valid-group':
                loginForm.get('email')?.valid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched)
            }"
          >
            <span class="input-group-text"
              > <i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating">
              <input
                formControlName="email"
                type="email"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('email')?.invalid &&
                    (loginForm.get('email')?.dirty ||
                      loginForm.get('email')?.touched),
                  'is-valid':
                    loginForm.get('email')?.valid &&
                    (loginForm.get('email')?.dirty ||
                      loginForm.get('email')?.touched)
                }"
                class="form-control"
                id="floatingInputGroup2"
                placeholder="Type your email"
                required
              />
            </div>
          </div>
          <div>
            @if ( loginForm.get('email')?.getError('required') &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched))
            {
            <div class="text-danger my-2">
              <span>Email is required</span>
            </div>
            } @else if ( loginForm.get('email')?.getError('email') &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched))
            {
            <div class="text-danger my-2">
              <span>Email not vaild </span>
            </div>
            }
          </div>
        </div>
        <div class="input-group-parent">
          <label>Your password</label>
          <div
            class="input-group"
            [ngClass]="{
              'is-invalid-group':
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched),
              'is-valid-group':
                loginForm.get('password')?.valid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
            }"
          >
            <span class="input-group-text"
              ><i class="fa-solid fa-key"></i
            ></span>
            <div class="form-floating is-invalid">
              <input
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('password')?.invalid &&
                    (loginForm.get('password')?.dirty ||
                      loginForm.get('password')?.touched),
                  'is-valid':
                    loginForm.get('password')?.valid &&
                    (loginForm.get('password')?.dirty ||
                      loginForm.get('password')?.touched)
                }"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                id="floatingInputGroup2"
                placeholder="Type your password"
                required
              />
            </div>
            <span (click)="togglePasswordVisibility()" class="input-group-text"
              ><i
                [ngClass]="
                  showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'
                "
              ></i
            ></span>
          </div>

          <div>
            @if ( loginForm.get('password')?.getError('required') &&
            (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)) {
            <div class="text-danger my-2">
              <span>password is required</span>
            </div>
            }
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
          <button
            type="submit"
            class="auth-button"
            [disabled]="!loginForm.valid"
          >
            Sign In
            <div class="hovered-div">
              <i class="fa-solid fa-check-circle"></i>
            </div>
          </button>

          <p class="my-auto">
            Forgot password?
            <a routerLink="/auth/forgot-password">click here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
