@use "@angular/material" as mat;
@include mat.core();
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
$quizApp-primary: mat.define-palette(mat.$indigo-palette);
$quizApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$quizApp-warn: mat.define-palette(mat.$red-palette);
$quizApp-theme: mat.define-light-theme(
  (
    color: (
      primary: $quizApp-primary,
      accent: $quizApp-accent,
      warn: $quizApp-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($quizApp-theme);
* {
  box-sizing: border-box;
}
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

@import "../src/assets/styles/main";

.owl-dt-container {
  z-index: 1200 !important;
}
.cdk-overlay-container {
  z-index: 1200 !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
