$color-black:#000000;
$color-background-section:#0D1321;
$color-background-button:#F5F5F5;
$color-green:#C5D86D;
$color-white: #fff;
$padding-section: 2rem;
$rounded-input: 0.625rem;
$main-transition: 0.3s




