@import "../../../../assets/styles/abstracts/variables";
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  .breadcrumb-item {
    font-size: 14px;
    &::before {
      content: "";
    }
    &::after {
      content: " >> ";
      padding: 0 5px;
      color: gray;
      font-weight: 800;
    }

    &:last-child::after {
      content: "";
    }

    a {
      text-decoration: none;
      color: $color-background-section;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-background-section;
      }
    }

    &.active {
      font-weight: bold;
      color: $color-background-section;
      pointer-events: none;
    }
  }
}

