<section>
  <div class="dialog-header">
    <h2 mat-dialog-title class="d-flex align-items-center gap-1">
      Delete {{ data.title }} <mat-icon>warning</mat-icon>
    </h2>
    <div mat-dialog-actions class="dialog-actions">
      <button class="submit-btn border-0" [mat-dialog-close]="true">
        <span><i class="fa-solid fa-check"></i></span>
      </button>
      <button class="close-btn border-0" [mat-dialog-close]="false">
        <span><i class="fa-solid fa-xmark"></i></span>
      </button>
    </div>
  </div>
  <div class="dialog-content " mat-dialog-content>
    <div class="dialog-content-image text-center">
      <img
        src="../../../../assets/images/delete-item.svg"
        class="w-75"
        alt="delete item"
      />
    </div>

  </div>
</section>
