<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        @if (quiz) {
        <div class="quiz-container">
          <h3>{{quiz.title}}</h3>
          <div class="quiz-date-time">
            <div class="quiz-date">
              <mat-icon>calendar_month</mat-icon>
              <span>{{quiz.schadule | date: 'dd / MM / yyyy'}}</span>
            </div>
            <div class="quiz-time">
              <mat-icon>schedule</mat-icon>
              <span>{{quiz.schadule | date: 'HH : mm'}}</span>
            </div>
          </div>
          <form [formGroup]="quizForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Duration</span>
              <input formControlName="duration" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Number of questions</span>
              <input formControlName="questions_number" type="text" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Score per question</span>
              <input formControlName="score_per_question" type="text" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group description mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
              <textarea formControlName="description" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"> </textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Quiz type</span>
              <input formControlName="type" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Quiz difficulty</span>
              <input formControlName="difficulty" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>
          </form>
          <div class="quiz-form-actions">
            <button class="delete-btn" (click)="deleteQuiz()">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button class="edit-btn" (click)="createQuiz()" data-bs-toggle="modal" data-bs-target="#createQuiz">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="createQuiz" tabindex="-1" aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="border border-2 border-black border-top-0 border-start-0 border-end-0">
        <div class="d-flex justify-content-between align-items-center w-100 h-100 px-2">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
            Update a quiz
          </h1>
          <div class="d-flex">
            <div class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3">
              <button (click)="sendData()" type="button" class="fs-2 fa-bold border border-0 bg-transparent"
                [attr.data-bs-dismiss]="quizForm.valid ? 'modal' : ''" [disabled]="quizForm.invalid" aria-label="Close">
                <!-- (click)="updateStudentGroup()" -->
                <i class="fa-solid fa-check color-global"></i>
              </button>
            </div>
            <div class="border border-2 border-black border-top-0 border-bottom-0 border-end-0 p-3">
              <button type="button" class="fs-2 fa-bold border border-0 bg-transparent" data-bs-dismiss="modal"
                aria-label="Close" (click)="closeModal()">
                <i class="fa-solid fa-xmark text-danger"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h2 class="h6">Details</h2>
        <form [formGroup]="quizForm">
          <div class="input-group mb-4 mt-2">
            <span class="input-group-text title-input">Title</span>
            <input formControlName="title" type="text" class="form-control" />
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-4 mt-2">
                <span class="input-group-text title-input">Duration <span class="fs-6">(in minutes)</span></span>
                <select formControlName="duration" class="form-select" id="inputGroupSelect01">
                  @for (dur of duration; track $index) {

                  <option [value]="dur">{{ dur }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-4 mt-2">
                <span class="input-group-text title-input">No. of questions</span>
                <div class="dropdown-container">
                  <select formControlName="questions_number" class="form-select rounded-start-0"
                    id="inputGroupSelect01">
                    @for (num of questionsNumbur; track $index) {
                    <option [value]="num">{{ num }}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-4 mt-2 d-flex">
                <span for="inputGroupSelect01" class="input-group-text title-input">Score per question</span>
                <select formControlName="score_per_question" class="form-select" id="inputGroupSelect01">
                  @for (score of questionScore; track $index) {
                  <option [value]="score">{{ score }}</option>
                  }
                </select>
              </div>
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-text title-input">Description</span>
            <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
          </div>
          <div class="Schedule my-3 d-flex align-items-center rounded-2 border border-1">
            <div class="">
              <span class="title-input py-2 px-2 my-auto">Schedule</span>
            </div>
            <div class="border border-1 border-top-0 border-end-0 border-bottom-0 w-100">
              <div class="modal-body bg-white">
                <label>
                  Date Time:
                  <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" formControlName="schadule" />
                  <owl-date-time #dt></owl-date-time>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-4">
                <span class="input-group-text title-input">Difficulty level</span>
                <select formControlName="difficulty" class="form-select no-pointer" id="inputGroupSelect01">
                  @for (difficult of ['easy', 'medium', 'hard']; track $index) {

                  <option [value]="difficult">{{ difficult }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-4">
                <span class="input-group-text title-input">Category type</span>
                <select formControlName="type" class="form-select no-pointer" id="inputGroupSelect01">
                  @for (type of ['FE', 'BE', 'DO']; track $index) {

                  <option [value]="type">{{ type }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-4 d-flex">
                <span for="inputGroupSelect01" class="input-group-text title-input">Group name</span>
                <select formControlName="group" class="form-select no-pointer" id="inputGroupSelect01">
                  @for (group of groups; track group._id) {

                  <option [value]="group._id">{{ group.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
